.bb{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    &_banner{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 6rem;
        // Start of banner styling
        &_img{
            // position: absolute;
            // width: 100%;
            // height: 88vh;
            // padding-top: 300px;
            // top: 0px;
            background-position: top center;
            background-size: cover;
            width:100%;
            position: absolute;
            height: 80vh;
            top:0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: 32px;
                color: white;
                margin-top: 40px;
                margin-bottom: 25px;
                margin-left: 10px;
            }
            .btn{
                text-align: left;
                &_play{
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 10px;
                    span{
                        margin-left: 5px;
                    }
                }
                &_info{
                    font-size: 18px;
                    font-weight: 500;
                    color: white;
                    background-color: gray;
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
// End of banner styling 


// Start of header 
.header{
    // position: fixed;
    // top: 0px;
    // display: flex;
    // justify-content: space-between;
    // padding: 10px 20px;
    // width: 100%;
    // margin-bottom: 6rem;
    display: flex;
    padding: 20px;
    width:100%;
    justify-content: space-between;
    z-index: 10;
    position: fixed;
    top:0;
    transition: all 0.3s;
    transition-timing-function: ease-in;

    &.sticky {
      background-color: #0D0D0D;
      z-index: 100;
    }
    &_left{
        display: flex;;
        align-items: center;
        &_img{
            img{
                height: 40px;
            }
        }
        &_list{
           ul{
               color: white;
               font-weight: 500;
               list-style: none;
               font-size: 16px;
               li{
                   float: left;
                  padding: 0px 10px;
                  a{
                      color: white;
                  }
               }
           }
        }
    }
    &_right{
        ul{
            color: white;
            font-weight: bold;
            list-style: none;
            font-size: 16px;
            li{
                float: left;
               padding: 0px 10px;
               a{
                   color: white;
               }
            }
        }
    }
}
// End of Header 

.content{
    margin-top: 300px;
    position: relative;
}

// .header::before{
//         content: "";
//         background-color: rgb(221, 215, 215);
//         position: absolute;
//         height: 100%;
//         width: 100%;
//         z-index: -1;
//         opacity: 0.3;
//     } 