<div class="container-fluid bb">
    <div class="bb_banner">
        <div class="bb_banner_img">
            <img src="assets/img/banner.webp" alt="">
        </div>
        <div class="header">
            <div class="header_left">
                <div class="header_left_img">
                    <img src="assets/img/netflix.svg" alt="">
                </div>
                <div class="header_left_list">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">TV Shows</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">New & Popular</a></li>
                        <li><a href="#">My List</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="#">
                            <mat-icon>search</mat-icon>
                        </a></li>
                    <li><a href="#">Children</a></li>
                    <li><a href="#">
                            <mat-icon>card_giftcard</mat-icon>
                        </a></li>
                    <li><a href="#">
                            <mat-icon>notifications</mat-icon>
                        </a></li>
                    <li>
                        <img src="assets/img/avatar.png" alt="avatar">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>