.bb{
    margin: 0;
    padding: 0;
    &_banner{
        // Start of banner styling
        &_img{
            position: absolute;
            width: 100%;
            h2{
                color: white;
            }
            .btn{
                &_play{
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 10px;
                    span{
                        margin-left: 5px;
                    }
                }
                &_info{
                    font-size: 18px;
                    font-weight: 500;
                    color: white;
                    background-color: gray;
                    span{
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
// End of banner styling 


// Start of header 
.header{
    position:sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    &_left{
        display: flex;;
        align-items: center;
        &_img{
            img{
                height: 40px;
            }
        }
        &_list{
           ul{
               color: white;
               font-weight: 500;
               list-style: none;
               font-size: 16px;
               li{
                   float: left;
                  padding: 0px 10px;
                  a{
                      color: white;
                  }
               }
           }
        }
    }
    &_right{
        ul{
            color: white;
            font-weight: bold;
            list-style: none;
            font-size: 16px;
            li{
                float: left;
               padding: 0px 10px;
               a{
                   color: white;
               }
            }
        }
    }
}
// End of Header 
