<div class="container-fluid bb">
    <div class="bb_banner">

<!-- Start of BAnner secction -->
        <div class="bb_banner_img" [ngStyle]="{ 
            'background-image' : 'linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3))'
        }">
            <h2>TITLE</h2>
            <div class="btn">
                <button mat-flat-button class="btn_play">
                    <mat-icon>play_arrow</mat-icon>
                    <span>Play</span>
                </button>
                <button mat-flat-button class="btn_info">
                    <mat-icon>info</mat-icon>
                    <span>More Info</span>
                </button>
            </div>
        </div>
<!-- End of Banner Section -->


<!-- Start of header section  -->
        <div class="header">
            <div class="header_left">
                <div class="header_left_img">
                    <img src="assets/img/netflix.svg" alt="">
                </div>
                <div class="header_left_list">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">TV Shows</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">New & Popular</a></li>
                        <li><a href="#">My List</a></li>
                    </ul>
                </div>
            </div>
            <div class="header_right">
                <ul>
                    <li><a href="#">
                            <mat-icon>search</mat-icon>
                        </a></li>
                    <li><a href="#">
                            <mat-icon>card_giftcard</mat-icon>
                        </a></li>
                    <li><a href="#">
                            <mat-icon>notifications</mat-icon>
                        </a></li>
                    <li>
                        <img src="assets/img/avatar.png" alt="avatar">
                    </li>
                </ul>
            </div>
        </div>
<!-- End of Header Section  -->
    </div>

<div class="content">
    <app-slider title="TRENDING"></app-slider>
    <app-slider title="TOP RATED"></app-slider>

</div>

</div>
