.section2{
    grid-area: section2;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    margin: 10px 0px;
    padding: 0px 45px;
    justify-content: center;
    width: 100%;
    &_text{
        width: 50%;
        &_h1{
            font-size: 3rem;
            font-weight: 600;
            letter-spacing: 0.2rem;
            margin-bottom: 30px;
            line-height: 3.5rem;
        }
        &_p{
            font-size: x-large;
            letter-spacing: 0.1rem;
            line-height: 2rem;
        }
    }
    &_img{
        position: relative;
        height: 450px;
        justify-content: left;
        video{
            position: relative;
            height: 250px;
            width: 420px;
            margin-top: 80px;
            margin-left: 75px;
            
        }
    }
}

.img{
    position: absolute;
    top: 0px;
    left: 0px;
}