<div class="section2">
    <div class="section2_text">
        <h1 class="section2_text_h1">Enjoy on your TV.</h1>
        <p class="section2_text_p">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
    </div>
    <div class="section2_img">
        <div class="video">
            <video autoplay playsinline muted loop>
                <source src="assets/video/video1.mp4" type="video/mp4">
            </video>
        </div>
        <div class="img">
            <img src="assets/img/tv.png" alt="">
        </div>
    </div>
</div>
