<div class="container-fluid section1">
    <div class="section1_header">
        <span class="section1_header_span">NETFLIX</span>>
        <button mat-flat-button class="section1_header_button">Sign In</button>
    </div>

    <div class="container section1_heading">
        <p class="section1_heading_p1"> Unlimited movies, TV shows and more.</p>
        <p class="section1_heading_p2">Watch anywhere. Cancel anytime.</p>

        <p class="section1_heading_p3"> Ready to watch? Enter your email to create or restart your membership.</p>
    
        <div class="input d-flex align-items-center">
            <div class="input_white">
                <mat-form-field appearance="outline" class="input_white_inpt">
                    <mat-label>Email address</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="input_orange">
                <button mat-flat-button class="">Get Sarted  <mat-icon>keyboard_arrow_right</mat-icon> </button>

            </div>
        </div>
    
    </div>
</div>