<div class="footer">
    <div class="footer_div">
        <p>Questions? Call 000-800-040-1843</p>
        <div class="d-flex">

            <div class="mrr">
                <ul>
                    <li>FAQ</li>
                    <li>Investor Relations</li>
                    <li>Privacy</li>
                    <li>Speed Test</li>
                   
                </ul>
            </div>
            <div class="mrr">
                <ul>
                    <li>Help Centre</li>
                    <li>Jobs</li>
                    <li>Cookie Preferences</li>
                    <li>Legal Notices</li>
                </ul>
            </div>
            <div class="mrr">
                <ul>
                    
                    <li>Account</li>
                    <li>Ways to Watch</li>
                    <li>Corporate Information</li>
                    <li>Netflix Originals</li>
                </ul>
            </div>
            <div class="mrr">
                <ul>
                    <li>Media Centre</li>
                    <li>Terms of Use</li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div>
        <p>Netflix India</p>
    </div>

</div>