<div class="section5">
    <div class=" section5_heading">
        <p class="section5_heading_p1"> Frequently Asked Questions</p>
        <p class="section5_heading_p3"> Ready to watch? Enter your email to create or restart your membership.</p>
    
        <div class="input d-flex align-items-center">
            <div class="input_white">
                <mat-form-field appearance="outline" class="input_white_inpt">
                    <mat-label>Email address</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div>
            <div class="input_orange">
                <button mat-flat-button class="">Get Sarted  <mat-icon>keyboard_arrow_right</mat-icon> </button>

            </div>
        </div>
    
    </div>
</div>