<div class="section5">
    <div class=" section5_heading">
        <p class="section5_heading_p1"> Frequently Asked Questions</p>


        <div class="expand">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What is Netflix?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies,
                        anime, documentaries and more – on thousands of internet-connected devices.</p>

                    <p>You can watch as much as you want, whenever you want, without a single ad – all for one low
                        monthly price. There's always something new to discover, and new TV shows and movies are added
                        every week!</p>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How much does Netflix cost?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one
                        fixed monthly fee. Plans range from ₹ 199 to ₹ 799 a month. No extra costs, no contracts.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            where can I watch?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Watch anywhere, anytime, on an unlimited number of devices. Sign in with your Netflix account to
                        watch instantly on the web at netflix.com from your personal computer or on any
                        internet-connected device that offers the Netflix app, including smart TVs, smartphones,
                        tablets, streaming media players and game consoles.</p>
                    <p> You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use
                        downloads to watch while you're on the go and without an internet connection. Take Netflix with
                        you anywhere.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            How do I cancel?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel
                        your account online in two clicks. There are no cancellation fees – start or stop your account
                        anytime.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            What can I watch on Netflix?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning
                        Netflix originals, and more. Watch as much as you want, anytime you want.
                    </p>
                </mat-expansion-panel>
            </mat-accordion>

        </div>



        <p class="section5_heading_p3"> Ready to watch? Enter your email to create or restart your membership.</p>

        <div class="input d-flex align-items-center justify-content-center">
            <div class="input_white">
                <mat-form-field appearance="outline" class="input_white_inpt">
                    <mat-label>Email address</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="input_orange">
                <button mat-flat-button class="">Get Sarted <mat-icon>keyboard_arrow_right</mat-icon> </button>

            </div>
        </div>

    </div>
</div>