<div class="container-fluid login">
    <div class="login_header">
        <span class="login_header_span">NETFLIX</span>>
    </div>

    <div class="container login_box">
        <div class="login_box_content">
            <h1>Sign In</h1>
           <input type="email" placeholder="Enter email or phone number" class="it">
           <input type="password" placeholder="Enter Password" class="it">
            <button mat-flat-button class="login_box_content_button" [routerLink]="['/main']" >Sign In</button>
            <div class="login_box_content_span">
                <span class="login_box_content_span_s1"> <input type="checkbox"> Remember me</span>
                <span class="login_box_content_span_s2">Need Help ?</span>
            </div>
            <div class="login_box_content_p">
                <p>Login with Facebook</p>
                <p class="login_box_content_p_p2">New to Netflix? <span>Sign up now</span></p>
                <p>This page is protected by Google reCAPTCHS to ensure you're not a bot. <span class="cblue"> Learn more</span></p>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_div">
            <p>Questions? Call 000-800-040-1843</p>
            <div class="d-flex">
    
                <div class="mrr">
                    <ul>
                        <li>FAQ</li>
                        <li>Cookie Preferences</li>  
                    </ul>
                </div>
                <div class="mrr">
                    <ul>
                        <li>Help Centre</li>
                        <li>Corporate Information</li>
                    </ul>
                </div>
                <div class="mrr">
                    <ul>
                        <li>Terms of Use</li>
                        </ul>
                </div>
                <div class="mrr">
                    <ul>
                        <li>Privacy</li>
                    </ul>
                </div>
            </div>
            <p>Netflix India</p>
        </div>
    
    </div>

</div>